.grid {
    overflow-x: auto;
    white-space: nowrap;
}
.row div {
    width: 35px;
    height: 170px;
    line-height: 170px;
    text-align: center;
    border: 1px solid lightgrey;
    background-color: #f0f0f0;
    margin: 2px;
    display: inline-block;
}

.row div:hover {
    background-color: lightblue;
}